.container{
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#btn{
    border-radius: 15px;
    color: rgb(211, 30, 30);
    cursor: pointer;
    letter-spacing: .5px;
    background-color: lightcoral;
    height: auto;
    width: fit-content;
}